*{ margin:0; padding:0; box-sizing:border-box; } 

html{ 
scroll-behavior:smooth; 
} 

body{
font-family:'Poppins',sans-serif; 
background:linear-gradient(135deg,#0F172A,#020617);
color:#fff; min-height:100vh; display:flex; flex-direction:column; 
}

header{
width:100%; 
padding:25px 70px; 
display:flex; 
justify-content:space-between; 
align-items:center; 
position:sticky; 
top:0; backdrop-filter:blur(15px); 
background:rgba(15,23,42,.45); 
border-bottom:1px solid rgba(255,255,255,.06); 
} 

.logo{ 
font-size:26px; 
font-weight:700; 
} 

.download-btn{
color:white; 
text-decoration:none;
background:#9213D3;; 
padding:12px 26px; 
border-radius:10px; 
transition:.3s; 
} 

.download-btn:hover{ 
background:#2563EB; 
transform:translateY(-3px); 
}

main{
flex:1; display:flex; 
justify-content:center; 
align-items:center; 
flex-direction:column; 
text-align:center; 
padding:40px 20px; } 

.hero-logo{ 
width:150px; 
margin-bottom:35px; 
} 

h1{ 
font-size:72px; 
margin-bottom:10px; 
} 

h2{ 
color:#9213D3;
font-weight:400; 
margin-bottom:25px; 
} 

p{ 
color:#CBD5E1; 
font-size:18px; 
max-width:650px; 
line-height:1.8; 
} 

.main-download{ 
margin-top:45px; 
text-decoration:none; 
color:white; 
background:#9213D3;
padding:18px 42px; 
border-radius:12px; 
font-size:18px; 
font-weight:600; 
transition:.3s; 
} 

.main-download:hover{ 
background:#2563EB; 
transform:translateY(-4px); 
} 

.version{ 
margin-top:18px; 
color:#94A3B8; 
font-size:15px; 
}

footer{ 
text-align:center; 
padding:30px; 
border-top:1px solid rgba(255,255,255,.06); 
color:#94A3B8; 
} 

.links{ 
    margin-top:15px; 
} 

.links a{ 
color:#9213D3;
text-decoration:none; 
margin:0 15px; 
transition:.3s; 
} 

.links a:hover{ 
color:white;
} 

@media(max-width:768px)

{ header{ padding:20px; } 

h1{ font-size:52px; } 

.hero-logo{ width:110px; } 

.main-download{ width:100%; max-width:320px; } }